# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so

# Test-related
.cache
.coverage
htmlcov/
.mypy_cache
.pytest_cache
.tox

# Docs
docs/

# Build-related
.aws-sam/
build/
dist/
.venv*

# OS X stuff
.DS_Store
